head
  title #{page.title} - #{locals.title}
  meta(name='viewport', content='width=device-width, initial-scale=1.0')
  link(rel='stylesheet', href= '#{locals.baseUrl}' + '/assets/css/github.css')
  link(rel='stylesheet', href= '#{locals.baseUrl}' + '/assets/bootstrap/css/bootstrap.css')
  link(rel='stylesheet', href= '#{locals.baseUrl}' + '/assets/bootstrap/css/bootstrap-responsive.css')
  link(rel='stylesheet', href= '#{locals.baseUrl}' + '/assets/css/prettify.css')
  link(rel='stylesheet', href='http://fonts.googleapis.com/css?family=Noto+Serif')
  link(rel='stylesheet', href= '#{locals.baseUrl}' + '/assets/css/app.css')
  style(type='text/css')
          body { padding-top: 60px; padding-bottom: 40px; }
          @media (max-width: 980px) {
            body {
              padding-top: 0px;
            }
          }
