- var cloud = _.chain(contents.articles._.directories).map(function(item) {
-   return item.index
- }).compact().filter(function(article) {
-   return article.metadata.ignored !== true
- }).map(function(article) {
-   return article.metadata.tags
- }).flatten().reduce(function(counts, word) {
-   counts[word] = (counts[word] || 0) + 1
-   return counts
- }, {}).value()
- var sortedWord = _.chain(cloud).keys().map(function(item) {
-   return item
- }).sortBy(function(word) {
-   return word.toLowerCase()
- }).value()

div.navbar.navbar-fixed-top
  div.navbar-inner
    div.container
      a(data-toggle='collapse', data-target='.nav-collapse').btn.btn-navbar
        span.icon-bar
        span.icon-bar
        span.icon-bar
      a(href= locals.url).brand= locals.title
      div.nav-collapse.collapse
          <!-- .nav, .navbar-search, .navbar-form, etc -->
          ul.nav
            - var menu_items = _.chain(contents._.pages).compact().filter(function(article) {
            -    return article.metadata.menu
            - }).sortBy(function(v){
            -    return v.metadata.menu.order
            - }).value();
              - each item in menu_items
                - if (page.metadata.title == item.metadata.title)
                  li.active
                    if (item.metadata.menu.title == "Tags")
                      li.dropdown
                        a.dropdown-toggle(href="#", data-toggle="dropdown") #{item.metadata.menu.title}
                          &nbsp;b.caret
                        ul.dropdown-menu
                            each word in sortedWord
                              li
                                a(href=locals.baseUrl + "/tag/#{word}.html") #{word}
                    else
                       a(href= locals.baseUrl + item.url) #{item.metadata.menu.title}
                - else
                  li
                    if (item.metadata.menu.title == "Tags")
                      li.dropdown
                        a.dropdown-toggle(href="#", data-toggle="dropdown") #{item.metadata.menu.title}
                          b.caret
                        ul.dropdown-menu
                            each word in sortedWord
                              li
                                a(href=locals.baseUrl + "/tag/#{word}.html") #{word}
                    else
                      a(href= locals.baseUrl + item.url) #{item.metadata.menu.title}
      div(class="pull-right").nav-collapse.collapse
          form(id="search-form", class="navbar-search pull-left", action="http://www.google.com/search", method="get")
            span(class="glass js-search-action"): i
            input(type="hidden", value="UTF-8", name="ie")
            input(type="hidden", value="UTF-8", name="oe")
            input(type="hidden", value=locals.domain, name="domains")
            input(type="hidden", value=locals.domain, name="sitesearch")
            input(class="search-query span2", name="q", type="text", placeholder="Search using Google...")