- var tagCloud = _.chain(env.helpers.getArticles(contents)).map(function(article) {
-   return article.metadata.tags
- }).flatten().reduce(function(counts, word) {
-   counts[word] = (counts[word] || 0) + 1
-   return counts
- }, {}).value()

- var sortedTags = _.chain(tagCloud).keys().map(function(item) {
-   return item
- }).sortBy(function(word) {
-   return word.toLowerCase()
- }).value()

div.navbar.navbar-default.navbar-fixed-top
    div.container
        div.navbar-header
            a(href= locals.url).navbar-brand= locals.title
            buttona(type='button', data-toggle='collapse', data-target='#navbar-main').navbar-toggle
                span.icon-bar
                span.icon-bar
                span.icon-bar
        div#navbar-main.navbar-collapse.collapse
            <!-- .nav, .navbar-search, .navbar-form, etc -->
            ul.nav.navbar-nav
                li.dropdown
                    a.dropdown-toggle(href="#", data-toggle="dropdown") Tags
                        b.caret
                    ul.dropdown-menu
                        each word in sortedTags
                            li
                                a(href=locals.baseUrl + "/tag/#{word}.html") #{word}
                li
                    a(href= locals.baseUrl + "/archive.html") Archives
            form(id="search-form", class="navbar-form pull-right", action="http://www.google.com/search", method="get")
                span(class="glass js-search-action"): i
                input(type="hidden", value="UTF-8", name="ie")
                input(type="hidden", value="UTF-8", name="oe")
                input(type="hidden", value=locals.domain, name="domains")
                input(type="hidden", value=locals.domain, name="sitesearch")
                input(class="search-query span2", name="q", type="text", placeholder="Search using Google...")