//le javascript
//script(src='http://ajax.googleapis.com/ajax/libs/jquery/1.6.4/jquery.min.js')
//script(src= '#{locals.baseUrl}' + '/assets/javascript/jquery-twitter-plugin.js')
script(src= '#{locals.baseUrl}' + '/assets/javascript/jquery.min.js')
script(src= '#{locals.baseUrl}' + '/assets/javascript/app.js')
script(src= '#{locals.baseUrl}' + '/assets/bootstrap/js/bootstrap-transition.js')
script(src= '#{locals.baseUrl}' + '/assets/bootstrap/js/bootstrap-alert.js')
script(src= '#{locals.baseUrl}' + '/assets/bootstrap/js/bootstrap-modal.js')
script(src= '#{locals.baseUrl}' + '/assets/bootstrap/js/bootstrap-scrollspy.js')
script(src= '#{locals.baseUrl}' + '/assets/bootstrap/js/bootstrap-tab.js')
script(src= '#{locals.baseUrl}' + '/assets/bootstrap/js/bootstrap-tooltip.js')
script(src= '#{locals.baseUrl}' + '/assets/bootstrap/js/bootstrap-popover.js')
script(src= '#{locals.baseUrl}' + '/assets/bootstrap/js/bootstrap-button.js')
script(src= '#{locals.baseUrl}' + '/assets/bootstrap/js/bootstrap-collapse.js')
script(src= '#{locals.baseUrl}' + '/assets/bootstrap/js/bootstrap-carousel.js')
script(src= '#{locals.baseUrl}' + '/assets/bootstrap/js/bootstrap-typeahead.js')
script(src= '#{locals.baseUrl}' + '/assets/bootstrap/js/bootstrap-dropdown.js')
script(src='http://platform.linkedin.com/in.js')

| <script type="text/javascript">
|   (function() {
|     var po = document.createElement('script'); po.type = 'text/javascript'; po.async = true;
|     po.src = 'https://apis.google.com/js/plusone.js';
|     var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(po, s);
|   })();
| </script>

| <script type="text/javascript">
| /* * * CONFIGURATION VARIABLES: EDIT BEFORE PASTING INTO YOUR WEBPAGE * * */
| var disqus_shortname = 'thesocialcoder'; // required: replace example with your forum shortname

| /* * * DON'T EDIT BELOW THIS LINE * * */
| (function () {
|   var s = document.createElement('script'); s.async = true;
|   s.type = 'text/javascript';
|   s.src = 'http://' + disqus_shortname + '.disqus.com/count.js';
|   (document.getElementsByTagName('HEAD')[0] || document.getElementsByTagName('BODY')[0]).appendChild(s);
| }());
| </script>

