.span3
   .well.sidebar-nav
     ul.nav.nav-list
       h4 Suivez moi !
       a(target="_blank", style="cursor: pointer;", href=locals.feeds.feed): img(alt="Feed", title="Feed", src="/images/rss.png")
       a(href="http://www.twitter.com/obazoud", style="cursor: pointer;", target="_blank"): img(src="/images/twitter.png", title="Follow me on Twitter!", alt="Follow @obazoud on Twitter!")
       a(href="https://plus.google.com/108456051643223740688", target="_blank", alt="Google +", title="Google +"): img(src="/images/google-plus-48x48.png", border="0")
       h4 Spring Batch in Action
       a(href="http://affiliate.manning.com/idevaffiliate.php?id=1178_267_1_68", target="_blank", alt="String Batch in Action", title="String Batch in Action"): img(border="0", src="/images/SpringBatchInAction.jpg", alt="String Batch in Action", title="String Batch in Action")
       h4 Tags
       include tagcloud
       h4 Archives
       include archivecloud
       h4 Blogroll
       include blogroll
       h4 Feeds
       a(target="_blank", style="cursor:pointer;", href=locals.feeds.feed): img(alt="Feed", title="Feed", src=locals.baseUrl + "/assets/images/rss.png")
       a(target="_blank", style="cursor:pointer;", href=locals.feeds.comments): img(alt="Comments Feed", title="Comments Feed", src=locals.baseUrl + "/assets/images/rss.png")