extends layout

block prepend title
  | #{ page.title } -

block header
   p(class="pull-right")
          a.back(href=locals.baseUrl + '/blog.html') << back to index
   p#post_bottom_meta2.muted
     | Tags :
     each tag in page.metadata.tags
       a(href=locals.baseUrl + "/tag/#{tag}.html", rel="category tag", title="View all posts in '#{tag}'")
         = tag
       |

block content
  - var map = ['January', 'February', 'March', 'April', 'May', 'June', 'July', 'August', 'September', 'October', 'November', 'December']
  article.post.shadow
      div(style="text-align: center")
          h1= page.title
          a.back(href=locals.baseUrl + '/archive.html') #{ map[page.date.getMonth()] } #{ page.date.toString().substring(8, 10) }
          br
          include author
          | By &nbsp;
          mixin author(page.metadata.author)
      br
      section.content!= page.html
      hr
      include partials/bottom-social
      hr
      h3 Similar Articles
      include partials/related
      h4
      include partials/disqus
      hr
        footer.footer
          div.inner(style="font-size: 13px")
            block footer
              p(class="pull-right"): a(href="#") back to top
              p
                | Posted on #{page.date}
                | | Tags :&nbsp;
                each tag in page.metadata.tags
                  a(href=locals.baseUrl + "/tag/#{tag}.html", rel="category tag", title="View all posts in '#{tag}'")
                    = tag
                  &nbsp;