extends layout

block prepend title
  | #{ page.title } -

block header

block content
  - var map = ['January', 'February', 'March', 'April', 'May', 'June', 'July', 'August', 'September', 'October', 'November', 'December']
  article.post.shadow
    include author
    div
      h1= page.title
      footer.footer
        div.inner(style="font-size: 13px")
          block footer
          | Posted by&nbsp;
          mixin author(page.metadata.author) &nbsp;
          | | on&nbsp;
          a.back(href=locals.baseUrl + '/archive.html') #{ map[page.date.getMonth()] } #{ page.date.toString().substring(8, 10) }, #{page.date.getFullYear()}&nbsp;
          | | Tags :&nbsp;
          each tag in page.metadata.tags
            a(href=locals.baseUrl + "/tag/#{tag}.html", rel="category tag", title="View all posts in '#{tag}'")
              = tag
            &nbsp;
    hr
    section.content!= page.html
    hr
    include partials/bottom-social
    hr
    h3 Similar Articles
    include partials/related
    h4
    include partials/disqus