extends layout

block header
 div(style="text-align: center")
     div#page_subtitle
       | Just about anything and everything
block content
  include author

  //- underscore helps us filter and sort our articles
  - var articles = _.chain(contents.articles._.directories).map(function(item) {
  -   // map articles to index pages of subdirectories of 'articles'
  -   return item.index
  - }).compact().sortBy(function(item) { // compact removes any directories w/o an index
  -   // sort them by date
  -   return -item.date
  - }).first(5).value() // and finally take the first 5
  - var map = ['January', 'February', 'March', 'April', 'May', 'June', 'July', 'August', 'September', 'October', 'November', 'December']
  each article in articles
    article.post.shadow
      header
        h3
          a(href=locals.baseUrl + article.url)= article.title
        a.back(href=locals.baseUrl + '/archive.html') #{ map[page.date.getMonth()] } #{ page.date.toString().substring(8, 10) }
        hr
      section.content!= article.intro
        if article.hasMore
          p.read-more
            a(href=locals.baseUrl + article.url) read more
        include partials/blog-footer
  a(href=locals.baseUrl + 'archive.html')#archive Visit the archives!